.aside-new-article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--background-color-fone);
    text-align: center;
    padding: 1.5rem 0;
}
.aside-new-article__button{
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    border-radius: 4px;
    color:white;
    text-transform: uppercase;
    width: 80%;
    padding: 0.83rem;
}




































































































































































































